@import url("./fonts/fonts.css");
* {
  padding: 0;
  margin: 0;
}
body,
html {
  background-color: #191919;
  z-index: -2;
  max-width: 100vw;
  height: fit-content;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-family: "lemon milk";
  justify-content: space-evenly;
  background-size: 100vw 150vh;
}
video {
  top: 0;
  width: auto;
  min-width: 100vw;
  height: fit-content;
  min-height: 100vh;
  position: fixed;
  z-index: -1;
  opacity: 0.4;
  @media screen and (max-width: 1000px) {
    left: -55%;
  }
}
#head {
  margin-top: 50px;
  font-family: "ethnocent";
}
.singup {
  color: #e5e5e5;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-top: 1.5em;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  border-radius: 15px;
  background: transparent;
  border-radius: 8px;
  @media screen and (max-width: 1000px) {
    min-height: 350px;
    width: 70vw;
  }
  @media screen and (min-width: 1000px) {
    width: 40vw;
  }
}

.enter {
  font-family: "Sub Heading";
  border-radius: 25px;
  min-width: max(25%, 150px);
  border: 2px solid #e5e5e5;
  cursor: pointer;
  color: #e5e5e5;
  font-size: 25px;
  padding: 5px 7px;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.enter:hover {
  color: white;
}

.icon {
  outline-offset: 4px;
}

.icon i {
  margin: auto;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}
.icon img {
  width: 30px;
  aspect-ratio: 1;
}
.icon i,
.icon img {
  animation: shake 0.25s;
}

.icon--instagram {
  outline-color: #a02d76;
  color: white;
}

.icon--twitter {
  outline-color: #191919;
  color: white;
}

.icon--linkedin {
  outline-color: #0077b5;
  color: white;
}

.icon--facebook {
  outline-color: rgb(40, 85, 182);
  color: white;
}

.sc-icons {
  padding-top: max(0.7vw, 0.65vh);
  display: flex;
  column-gap: 25px;
  font-size: max(3vh, 3vw);
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-flex;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 25px;
  border-radius: 60%;
  outline: 3px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
  column-gap: 25px;
  align-items: center;
}

li.link {
  transition: all 700ms;
  opacity: 2;
  transform: scale(1.1);
  text-align: justify;
}

.user-box {
  position: relative;
  @media screen and (max-width: 1000px) {
    width: 60vw;
  }
  @media screen and (min-width: 1000px) {
    width: 37vw;
  }
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

a.icon--facebook:hover {
  background: #316ff6;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #316ff6, 0 0 25px #316ff6, 0 0 50px #316ff6,
    0 0 100px #316ff6;
}

a.icon--facebook span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #316ff6);
  animation: btn-anim1 2s linear infinite;
}

a.icon--instagram:hover {
  background: #cd486b;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #cd486b, 0 0 25px #cd486b, 0 0 50px #cd486b,
    0 0 100px #cd486b;
}

a.icon--instagram span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #cd486b);
  animation: btn-anim1 2s linear infinite;
}
a.icon--twitter:hover {
  background: #191919;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #191919, 0 0 25px #191919, 0 0 50px #191919,
    0 0 100px #191919;
}

a.icon--twitter span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #191919);
  animation: btn-anim1 2s linear infinite;
}
a.icon--linkedin:hover {
  background: #0077b5;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #0077b5, 0 0 25px #0077b5, 0 0 50px #0077b5,
    0 0 100px #0077b5;
}

a.icon--linkedin span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #0077b5);
  animation: btn-anim1 2s linear infinite;
}
a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .sc-icons {
    transform: translateY(-6vh);
  }
}
