@import url("./fonts/fonts.css");
* {
  padding: 0;
  margin: 0;
}
html {
  background-color: #191919;
}

body,
html {
  max-width: 100vw;
  height: fit-content;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  font-family: "lemon milk";
  justify-content: space-evenly;
  background-size: 100vw 150vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.containerg {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 30px;
  height: 20px;
}

.bars {
  width: 30px;
  height: 4px;
  background: #fff;
}

.bars::before,
.bars::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
}

.bars::before {
  margin-top: 9px;
}

.bars::after {
  margin-top: 18px;
}

nav.lap {
  z-index: 99;
  font-size: 3vh;
  position: fixed;
  top: 0;
  padding: 0 !important;
  height: 30px;
  transform: scaleX(1);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: right;
}

nav.lap ul {
  list-style: none;
}

nav.lap ul li {
  padding: 0;
  text-align: left;
  margin: 20px 0;
}

nav.lap ul li a {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  opacity: 0;
  pointer-events: none;
}

nav.lap ul li a:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  border-radius: 5px;
  background: #fff;
  bottom: -10px;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s ease;
  transform: scaleX(0);
}

nav.lap ul li a:hover:after {
  transform: scaleX(1);
}

nav.lap .close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6%;
  right: 5%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

nav.lap h2 {
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: 0;
  pointer-events: none;
  color: #fff;
  font-size: 2em;
}

nav.lap .close div::before,
nav.lap .close div::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  transition: background 0.5s ease;
}
nav.lap .close div::before {
  transform: rotate(-45deg) translateX(-10px) translateY(-10px);
}

nav.lap .close div::after {
  transform: rotate(45deg) translateX(-10px) translateY(10px);
}

nav.lap .close:hover div::before,
nav.lap .close:hover div::after {
  background: rgb(209, 3, 3);
}

@media screen and (max-width: 1000px) {
  .laptop {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .lap {
    display: none;
  }
}
video {
  top: 0;
  width: auto;
  min-width: 100vw;
  height: fit-content;
  min-height: 100vh;
  position: fixed;
  z-index: -1;
  opacity: 0.4;
  @media screen and (max-width: 1000px) {
    left: -55%;
  }
}

.navToggle6 {
  position: absolute;
  width: max(5vh, 2.5vw);
  aspect-ratio: 2/1;
  top: 30%;
  left: 3%;
  transition-duration: 0.5s;
}
@media screen and (max-width: 1000px) {
  #wiss_logo_full {
    display: none;
    height: 0;
  }

  .navToggle6 #wiss_logo {
    transition-duration: 0.5s;
    position: absolute;
    height: max(10vh, 7.5vw);
    top: -15px;
    left: 8px;
  }
}
@media screen and (min-width: 1000px) {
  #wiss_logo {
    display: none;
    height: 0;
  }

  #wiss_logo_full {
    position: absolute;
    height: 40px;
    top: 5px;
    left: 8px;
    filter: none;
  }
}
.navToggle6 .iicon {
  transition-duration: 0.5s;
  position: absolute;
  max-width: 10vw;
  aspect-ratio: 7/1;
  width: 60px;
  top: 40px;
  left: 80vw;
  background-color: #fff;
}
.navToggle6 .iicon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 60px;
  max-width: 10vw;
  aspect-ratio: 7/1;
  background-color: #fff;
  content: "";
  top: -15px;
}
.navToggle6 .iicon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 60px;
  max-width: 10vw;
  aspect-ratio: 7/1;
  background-color: #fff;
  content: "";
  top: 15px;
}
.navToggle6 .iicon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 60px;
  max-width: 10vw;
  aspect-ratio: 7/1;
  background-color: #fff;
  content: "";
  top: 15px;
}
.navToggle6.open .iicon {
  transition-duration: 0.5s;
  transform: rotateZ(180deg);
}
.navToggle6.open .iicon:before {
  transform: rotateZ(45deg) scaleX(0.75) translate(20px, -6px);
}
.navToggle6.open .iicon:after {
  transform: rotateZ(-45deg) scaleX(0.75) translate(20px, 6px);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  background: #fff;
  background-size: cover !important;
}
.background.open {
  transition-duration: 0.5s;
  opacity: 0.4;
}

.upper-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 80px;
  z-index: 999999;
}

.navbar {
  width: max-content;
  list-style-type: none;
  margin-top: 10px;
  padding: 15px;
  left: -5px;
  top: max(10vh, 6vw);
  display: none;
  height: 100vh;
  position: absolute;
  line-height: 60px;
  font-size: min(3vh, 5vw);
  z-index: 9999;
  font-family: "Oswald", sans-serif;
  background: transparent;
  backdrop-filter: blur(5px);
}

a {
  text-decoration: none;
  color: white;
  width: 100%;
}

li {
  width: 100%;
  cursor: pointer;
  padding: 0.5%;
  max-height: 7vh;
}
#head {
  font-family: "ethnocent";
}
.singup {
  color: #e5e5e5;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  border-radius: 15px;
  background: transparent;
  border-radius: 8px;
  padding-top: min(100px, 10vh);
  margin-bottom: min(0.5vh, 0.5vw);
  @media screen and (max-width: 1000px) {
    min-height: 350px;
    width: 70vw;
  }
  @media screen and (min-width: 1000px) {
    width: 40vw;
  }
}

.enter {
  font-family: "Sub Heading";
  border-radius: 25px;
  min-width: max(25%, 150px);
  border: 2px solid #e5e5e5;
  cursor: pointer;
  color: #e5e5e5;
  font-size: 25px;
  padding: 5px 7px;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.enter:hover {
  color: white;
}

.icon {
  outline-offset: 4px;
}

.icon i {
  margin: auto;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}
.icon img {
  width: 30px;
  aspect-ratio: 1;
}
.icon i,
.icon img {
  animation: shake 0.25s;
}

.icon--instagram {
  outline-color: #a02d76;
  color: white;
}

.icon--twitter {
  outline-color: #191919;
  color: white;
}

.icon--linkedin {
  outline-color: #0077b5;
  color: white;
}

.icon--facebook {
  outline-color: rgb(40, 85, 182);
  color: white;
}

.sc-icons {
  padding-top: max(0.7vw, 0.65vh);
  display: flex;
  column-gap: 25px;
  font-size: max(5vh, 5vw);
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-flex;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 25px;
  border-radius: 60%;
  outline: 3px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
  column-gap: 25px;
  align-items: center;
}

li.link {
  transition: all 700ms;
  opacity: 2;
  transform: scale(1.1);
  text-align: justify;
}

.user-box {
  position: relative;
  @media screen and (max-width: 1000px) {
    width: 60vw;
  }
  @media screen and (min-width: 1000px) {
    width: 37vw;
  }
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.icon:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f, 0 0 25px #03f40f, 0 0 50px #03f40f,
    0 0 100px #03f40f;
}

.home:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f, 0 0 25px #03f40f, 0 0 50px #03f40f,
    0 0 100px #03f40f;
}
a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03f40f);
  animation: btn-anim1 2s linear infinite;
}
@media screen and (min-width: 1000px) {
  .sc-icons {
    transform: translateY(-6vh);
  }
}

@font-face {
  font-family: "Wargate";
  src: url(../../css/Wargate-Normal.otf);
}
button#home {
  border: none;
  outline: none;
  width: 120px;
  min-width: 7vw;
  background-color: #33333377;
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  font-size: max(2.5vw, 2vh);
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  font-family: "Wargate";
}

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;900&display=swap");

nav * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

nav a {
  text-decoration: none;
}

nav ul {
  list-style: none;
}

.navbutton {
  border: none;
  outline: none;
  height: 30px;
  width: 30px;
}

nav {
  height: 100vh;
  background-color: #130c61;
  width: 200px;
  padding: 10px;
  position: fixed;
  top: 0px;
  right: 0px;

  transform: translateX(1800px);
  transition: transform 0.5s ease-in-out;
  z-index: 1000;
}

nav.active {
  transform: translateX(0);
}

nav .logo {
  margin: 25px 0 20px;
}

nav .logo a {
  font-size: 22px;
  color: white;
  padding: 10px;

  font-weight: 700;

  display: flex;
  align-items: center;
  transition: 0.3s ease;
}

nav .logo a:hover {
  padding-right: 20px;
}

nav .logo a i {
  font-size: 27px;
  margin-right: 10px;
  transition: 0.5s ease-in-out;
}

nav .logo a:hover i {
  transform: rotate(180deg);
}

nav ul li {
  padding: 10px;
  font-weight: 500;
}

nav ul li a{
    color: #fff;
    transition: all .5s ease;
    font-size: 16px;
}
nav ul li a:hover{
    background-color: #fff;
    color: #130c61;
    display: block;
    padding-right: 10px;
}

.navbutton{
  cursor: pointer;
border: 1px solid rgba(0, 0, 0, 0);
color: #fff;
background-color: rgb(0 0 0 / 0%);
padding: 3px 5px;
border-radius: 3px;
position: fixed;
top: 40px;
right: 40px;
transform: translateX(0);
transition: background-color .5s ease, transform .47s ease-in-out;
}

.navbutton:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.navbutton.active{
    transform: translateX(-180px);
    position: fixed;
    right: 55px;
}

.lapnav{/* From https://css.glass */
background: rgba(0, 0, 0, 0.56);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.3px);
-webkit-backdrop-filter: blur(9.3px);
}

nav .logo span{
  margin: auto;
}

.fa-solid{
  font-size: xx-large;
}

