@import url("../../reach_Us/fonts/fonts.css");

html,
body {
  box-sizing: content-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(../images/bg.jpg); */
}

body {
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.3em;
  margin: 0;
}

#video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

.containerg {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 30px;
  height: 20px;
}

.bars {
  width: 30px;
  height: 4px;
  background: #fff;
}

.bars::before,
.bars::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
}

.bars::before {
  margin-top: 9px;
}

.bars::after {
  margin-top: 18px;
}

nav.lap {
  font-family: "lemon milk";
  z-index: 999;
  position: fixed;
  top: 0;
  padding: 0 !important;
  height: 30px;
  transform: scaleX(1);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: right;
}

nav.lap ul {
  list-style: none;
  width: 60vw;
  transform: scale(0);
}

nav.lap ul li {
  padding: 0;
  text-align: left;
  margin: 40px 0;
}

nav.lap ul li a {
  color: #fff;
  font-size: 3.5vh;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  opacity: 0;
  pointer-events: none;
}

nav.lap ul li a:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  border-radius: 5px;
  bottom: -10px;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s ease;
  transform: scaleX(0);
}

nav.lap ul li a:hover:after {
  transform: scaleX(1);
}

nav.lap .close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6%;
  right: 5%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

nav.lap h2 {
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: 0;
  pointer-events: none;
  color: #fff;
  font-size: 2em;
}

nav.lap .close div::before,
nav.lap .close div::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  transition: background 0.5s ease;
}
nav.lap .close div::before {
  transform: rotate(-45deg) translateX(-10px) translateY(-10px);
}

nav.lap .close div::after {
  transform: rotate(45deg) translateX(-10px) translateY(10px);
}

nav.lap .close:hover div::before,
nav.lap .close:hover div::after {
  background: rgb(209, 3, 3);
}

@media screen and (max-width: 1000px) {
  .laptop {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .lap {
    display: none;
  }
}


@media screen and (max-width: 1000px) {
  #wiss_logo_full {
    display: none;
    height: 0;
  }


}
@media screen and (min-width: 1000px) {
  #wiss_logo {
    display: none;
    height: 0;
  }

  #wiss_logo_full {
    position: absolute;
    height: 40px;
    top: 20px;
    left: 4vw;
    filter: none;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;900&display=swap");

nav * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

nav a {
  text-decoration: none;
}

nav ul {
  font-family: "lemon milk";
  list-style: none;
}

.navbutton {
  border: none;
  outline: none;
  height: 30px;
  width: 30px;
}

nav {
  height: 100vh;
  background-color: #130c61;
  width: 200px;
  padding: 10px;
  position: fixed;
  top: 0px;
  right: 0px;

  transform: translateX(1800px);
  transition: transform 0.5s ease-in-out;
  z-index: 1000;
}

nav.active {
  transform: translateX(0);
}

nav .logo {
  margin: 25px 0 20px;
}

nav .logo a {
  font-size: 22px;
  color: white;
  padding: 10px;

  font-weight: 700;

  display: flex;
  align-items: center;
  transition: 0.3s ease;
}

nav .logo a:hover {
  padding-right: 20px;
}

nav .logo a i {
  font-size: 27px;
  margin-right: 10px;
  transition: 0.5s ease-in-out;
}

nav .logo a:hover i {
  transform: rotate(180deg);
}

nav ul li {
  padding: 10px;
  font-weight: 500;
}

nav ul li a{
    color: #fff;
    transition: all .5s ease;
    font-size: 16px;
}
nav.laptop ul li a:hover {
    background-color: #fff;
    color: #130c61;
    display: block;
    padding-right: 10px;
}

.navbutton{
  cursor: pointer;
border: 1px solid rgba(0, 0, 0, 0);
color: #fff;
background-color: rgb(0 0 0 / 0%);
padding: 3px 5px;
border-radius: 3px;
position: fixed;
top: 40px;
right: 40px;
transform: translateX(0);
transition: background-color .5s ease, transform .47s ease-in-out;
}

.navbutton:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.navbutton.active{
    transform: translateX(-180px);
    position: fixed;
    right: 55px;
      z-index: 1000;
}

.lapnav{/* From https://css.glass */
background: rgba(0, 0, 0, 0.56);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.3px);
-webkit-backdrop-filter: blur(9.3px);
}

nav .logo span{
  margin: auto;
}

.fa-solid{
  font-size: xx-large;
}
