body {
  background-color: black;
  color: white;
}
@media screen and (max-width: 1000px) {
  #wiss_logo_full {
    display: none;
    height: 0;
  }

  .navToggle6 #wiss_logo {
    transition-duration: 0.5s;
    position: absolute;
    height: max(10vh, 7.5vw);
    top: 0px;
    left: 4vw;
  }
}
@media screen and (min-width: 1000px) {
  #wiss_logo {
    display: none;
    height: 0;
  }

  #wiss_logo_full {
    position: absolute;
    height: 40px;
    top: 20px;
    left: 4vw;
    filter: none;
  }
}
.navToggle6 .icon {
  transition-duration: 0.5s;
  position: absolute;
  max-width: 10vw;
  aspect-ratio: 7/1;
  width: 60px;
  top: 40px;
  left: 80vw;
  background-color: #fff;
}
.navToggle6 .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 60px;
  max-width: 10vw;
  aspect-ratio: 7/1;
  background-color: #fff;
  content: "";
  top: -15px;
}
.navToggle6 .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 60px;
  max-width: 10vw;
  aspect-ratio: 7/1;
  background-color: #fff;
  content: "";
  top: 15px;
}
.navToggle6.open .icon {
  transition-duration: 0.5s;
  transform: rotateZ(180deg);
}
.navToggle6.open .icon:before {
  transform: rotateZ(45deg) scaleX(0.75) translate(20px, -6px);
}
.navToggle6.open .icon:after {
  transform: rotateZ(-45deg) scaleX(0.75) translate(20px, 6px);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  background: #fff;
  background-size: cover !important;
}
.background.open {
  transition-duration: 0.5s;
  opacity: 0.4;
}

.upper-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 80px;
  z-index: 999999;
}

.navbar {
  width: max-content;
  list-style-type: none;
  margin-top: 10px;
  padding: 15px;
  left: -5px;
  top: max(10vh, 6vw);
  display: none;
  height: 100vh;
  position: absolute;
  line-height: 60px;
  font-size: min(3vh, 5vw);
  z-index: 9999;
  font-family: "Oswald", sans-serif;
  background: transparent;
  backdrop-filter: blur(1px);
}

a {
  text-decoration: none;
  color: white;
  width: 100%;
}

li {
  width: 100%;
  max-height: 7vh;
  cursor: pointer;
  padding: 0.5%;
}
#img img {
  width: 36vw;
  height: auto;
}
.video {
  margin: auto;
  width: 100%;
}
#abt {
  margin-top: 5%;
  background-color: gray;
  width: 65vw;
  height: auto;
  border: 1px solid whitesmoke;
  border-radius: 30px;
  @media only screen and (max-width: 767px) {
    margin-left: 1.5%;
    margin-right: 2%;
    width: 105vw;
    font-size: 12px;
  }
}
#abt h1 {
  text-align: center;
  justify-content: center;
  font-weight: bold;
}
#abt p {
  margin: 0 2vw;
  text-align: justify;
  text-transform: capitalize;
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: rgb(11, 248, 244);
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fefefe;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #0d0d0d;
  border-right: 0.125rem solid #090909;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: rgb(11, 248, 244);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #181818;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #000000;
}
.img1 {
  margin-top: 2vh;
  width: 65vw;
  height: 40vh;
  align-items: center;
  display: flex;
  margin: auto;
}
.vid1 {
  width: 100vw;
  height: 100vh;
}

/* .glass-morph {
  backdrop-filter: blur(5px);

  background-color: rgb(0, 0, 0, 0.5) !important;
  position: absolute !important;

  top: 0;
  z-index: 100;
  width: 100vw;


} */

@font-face {
  font-family: 'Wargate';
  src: url(../../css/Wargate-Normal.otf);
}
button#home {
  border: none;
  outline: none;
  width: 120px;
  min-width: 7vw;
  background-color: #33333377;
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  font-size: max(2.5vw,2vh);
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  font-family: 'Wargate';
}