body {
  background-color: black;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #000;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 40px;
  text-align: center;
}


.containerg {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 30px;
  height: 20px;
}

.bars {
  width: 30px;
  height: 4px;
  background: #fff;
}

.bars::before,
.bars::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
}

.bars::before {
  margin-top: 9px;
}

.bars::after {
  margin-top: 18px;
}

nav.lap {
  z-index: 99;
  font-size: 2vh;
  position: fixed;
  top: 0;
  padding: 0 !important;
  height: 30px;
  transform: scaleX(1);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: right;
}

nav.lap ul {
  list-style: none;
}

nav.lap ul li {
  padding: 0;
  text-align: left;
  margin: 10px 0;
}

nav.lap ul li a {
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  opacity: 0;
  pointer-events: none;
}

nav.lap ul li a:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  border-radius: 5px;
  background: #fff;
  bottom: -10px;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s ease;
  transform: scaleX(0);
}

nav.lap ul li a:hover:after {
  transform: scaleX(1);
}

nav.lap .close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6%;
  right: 5%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

nav.lap h2 {
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: 0;
  pointer-events: none;
  color: #fff;
  font-size: 2em;
}

nav.lap .close div::before,
nav.lap .close div::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  transition: background 0.5s ease;
}
nav.lap .close div::before {
  transform: rotate(-45deg) translateX(-10px) translateY(-10px);
}

nav.lap .close div::after {
  transform: rotate(45deg) translateX(-10px) translateY(10px);
}

nav.lap .close:hover div::before,
nav.lap .close:hover div::after {
  background: rgb(209, 3, 3);
}

@media screen and (max-width: 1000px) {
  .laptop {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .lap {
    display: none;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 1000px) {
  #wiss_logo_full {
    display: none;
    height: 0;
  }

  .navToggle6 #wiss_logo {
    transition-duration: 0.5s;
    position: absolute;
    height: max(10vh, 7.5vw);
    top: 0px;
    left: 4vw;
  }
}
@media screen and (min-width: 1000px) {
  #wiss_logo {
    display: none;
    height: 0;
  }

  #wiss_logo_full {
    position: absolute;
    height: 40px;
    top: 20px;
    left: 4vw;
    filter: none;
  }
  .lap {
    display: none;
  }
}
.navToggle6 .icon {
  transition-duration: 0.5s;
  position: absolute;
  max-width: 10vw;
  aspect-ratio: 7/1;
  width: 60px;
  top: 40px;
  left: 80vw;
  background-color: #fff;
}
.navToggle6 .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 60px;
  max-width: 10vw;
  aspect-ratio: 7/1;
  background-color: #fff;
  content: "";
  top: -15px;
}
.navToggle6 .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 60px;
  max-width: 10vw;
  aspect-ratio: 7/1;
  background-color: #fff;
  content: "";
  top: 15px;
}
.navToggle6.open .icon {
  transition-duration: 0.5s;
  transform: rotateZ(180deg);
}
.navToggle6.open .icon:before {
  transform: rotateZ(45deg) scaleX(0.75) translate(20px, -6px);
}
.navToggle6.open .icon:after {
  transform: rotateZ(-45deg) scaleX(0.75) translate(20px, 6px);
}

.upper-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 80px;
  z-index: 999999;
}

.navbar {
  width: max-content;
  list-style-type: none;
  margin-top: 10px;
  padding: 15px;
  left: -5px;
  top: max(10vh, 6vw);
  display: none;
  height: 100vh;
  position: absolute;
  line-height: 60px;
  font-size: min(3vh, 5vw);
  z-index: 9999;
  font-family: "Oswald", sans-serif;
  background: transparent;
  backdrop-filter: blur(1px);
}

a.hyperlink {
  text-decoration: none;
  color: white;
  width: 100%;
}

li.link {
  width: 100%;
  max-height: 7vh;
  cursor: pointer;
  padding: 0.5%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  background: #fff;
  background-size: cover !important;
}
.background.open {
  transition-duration: 0.5s;
  opacity: 0.4;
}
#img img {
  width: 36vw;
  height: auto;
}
.video {
  margin: auto;
  width: 100%;
}
#abt {
  margin-top: 5%;
  background-color: gray;
  width: 50vw;
  height: auto;
  border: 1px solid whitesmoke;
  border-radius: 30px;
  @media only screen and (max-width: 767px) {
    margin-left: 1.5%;
    margin-right: 2%;
    width: 90vw;
    font-size: 12px;
  }
}
#abt h1 {
  text-align: center;
  justify-content: center;
  font-weight: bold;
}
#abt p {
  margin: 0 2vw;
  text-align: justify;
  text-transform: capitalize;
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: rgb(11, 248, 244);
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fefefe;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #0d0d0d;
  border-right: 0.125rem solid #090909;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: rgb(11, 248, 244);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #181818;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #000000;
}
.img1 {
  margin-top: 2vh;
  width: 65vw;
  height: 40vh;
  align-items: center;
  display: flex;
  margin: auto;
}
.vid1 {
  width: 100vw;
  height: 100vh;
}

/* .glass-morph {
  backdrop-filter: blur(5px);

  background-color: rgb(0, 0, 0, 0.5) !important;
  position: absolute !important;

  top: 0;
  z-index: 100;
  width: 100vw;


} */

@font-face {
  font-family: "Wargate";
  src: url(../../css/Wargate-Normal.otf);
}
button#home {
  border: none;
  outline: none;
  width: 120px;
  min-width: 7vw;
  background-color: #33333377;
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  font-size: max(2.5vw, 2vh);
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  font-family: "Wargate";
}

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;900&display=swap");

nav * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

nav a {
  text-decoration: none;
}

nav ul {
  list-style: none;
}

.navbutton {
  border: none;
  outline: none;
  height: 30px;
  width: 30px;
}

nav {
  height: 100vh;
  background-color: #130c61;
  width: 200px;
  padding: 10px;
  position: fixed;
  top: 0px;
  right: 0px;

  transform: translateX(1800px);
  transition: transform 0.5s ease-in-out;
  z-index: 1000;
}

nav.active {
  transform: translateX(0);
}

nav .logo {
  margin: 25px 0 20px;
}

nav .logo a {
  font-size: 22px;
  color: white;
  padding: 10px;

  font-weight: 700;

  display: flex;
  align-items: center;
  transition: 0.3s ease;
}

nav .logo a:hover {
  padding-right: 20px;
}

nav .logo a i {
  font-size: 27px;
  margin-right: 10px;
  transition: 0.5s ease-in-out;
}

nav .logo a:hover i {
  transform: rotate(180deg);
}

nav ul li {
  padding: 10px;
  font-weight: 500;
}

nav ul li a {
  color: #fff;
  transition: all 0.5s ease;
}
nav ul li a:hover {
  background-color: #fff;
  color: #130c61;
  display: block;
  padding-right: 10px;
}

.navbutton{
  cursor: pointer;
border: 1px solid rgba(0, 0, 0, 0);
color: #fff;
background-color: rgb(0 0 0 / 0%);
padding: 3px 5px;
border-radius: 3px;
position: fixed;
top: 40px;
right: 40px;
transform: translateX(0);
transition: background-color .5s ease, transform .47s ease-in-out;
}

.navbutton:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.navbutton.active{
    transform: translateX(-180px);
    position: fixed;
    right: 55px;
}

nav{/* From https://css.glass */
background: rgba(0, 0, 0, 0.56);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.3px);
-webkit-backdrop-filter: blur(9.3px);
}

nav .logo span{
  margin: auto;
}

.fa-solid{
  font-size: xx-large;
}
