html,
body {
  box-sizing: content-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #000000;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.3em;
  margin: 0;
  background-attachment: fixed;
  @media screen and (max-width: 1000px) {
    background-size: auto 100vh;
  }
  @media screen and (min-width: 1000px) {
    background-size: 100vw 100vh;
  }
}

video {
  top: 0;
  position: fixed;
  z-index: -1;
  @media screen and (max-width: 1000px) {
    width: auto;
    left: -40%;
    height: 100vh;
  }
  @media screen and (min-width: 1000px) {
    width: 100vw;
    height: fit-content;
    height: 100vh;
  }
}


.containerg {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 30px;
  height: 20px;
}

.bars {
  width: 30px;
  height: 4px;
  background: #fff;
}

.bars::before,
.bars::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
}

.bars::before {
  margin-top: 9px;
}

.bars::after {
  margin-top: 18px;
}

nav.lap {
  z-index: 999;
  font-size: 2vh;
  position: fixed;
  top: 0;
  padding: 0 !important;
  height: 30px;
  transform: scaleX(1);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: right;
}

nav.lap ul {
  list-style: none;
}

nav.lap ul li {
  padding: 0;
  text-align: left;
  margin: 10px 0;
}

nav.lap ul li a {
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  opacity: 0;
  pointer-events: none;
}

nav.lap ul li a:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  border-radius: 5px;
  background: #fff;
  bottom: -10px;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s ease;
  transform: scaleX(0);
}

nav.lap ul li a:hover:after {
  transform: scaleX(1);
}

nav.lap .close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6%;
  right: 5%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

nav.lap h2 {
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: 0;
  pointer-events: none;
  color: #fff;
  font-size: 2em;
}

nav.lap .close div::before,
nav.lap .close div::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  transition: background 0.5s ease;
}
nav.lap .close div::before {
  transform: rotate(-45deg) translateX(-10px) translateY(-10px);
}

nav.lap .close div::after {
  transform: rotate(45deg) translateX(-10px) translateY(10px);
}

nav.lap .close:hover div::before,
nav.lap .close:hover div::after {
  background: rgb(209, 3, 3);
}

@media screen and (max-width: 1000px) {
  .laptop {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .lap {
    display: none;
  }
}

.navToggle6 .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 8px;
  width: 60px;
  top: 40px;
  left: 80vw;
  background-color: #fff;
}
@media screen and (max-width: 1000px) {
  #wiss_logo_full {
    display: none;
    height: 0;
  }

  .navToggle6 #wiss_logo {
    transition-duration: 0.5s;
    position: absolute;
    height: max(10vh, 7.5vw);
    top: 0px;
    left: 4vw;
  }
}
@media screen and (min-width: 1000px) {
  #wiss_logo {
    display: none;
    height: 0;
  }

  #wiss_logo_full {
    position: absolute;
    height: 40px;
    top: 20px;
    left: 4vw;
    filter: none;
  }
}
.navToggle6 .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 60px;
  height: 7px;
  background-color: #fff;
  content: "";
  top: -20px;
}
.navToggle6 .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 60px;
  height: 8px;
  background-color: #fff;
  content: "";
  top: 20px;
}
.navToggle6.open .icon {
  transition-duration: 0.5s;
  transform: rotateZ(180deg);
}
.navToggle6.open .icon:before {
  transform: rotateZ(45deg) scaleX(0.75) translate(20px, -6px);
}
.navToggle6.open .icon:after {
  transform: rotateZ(-45deg) scaleX(0.75) translate(20px, 6px);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  background: #fff;
  background-size: cover !important;
}
.background.open {
  transition-duration: 0.5s;
  opacity: 0.4;
}

.upper-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 80px;
  z-index: 999999;
}

.navbar {
  width: max-content;
  list-style-type: none;
  margin-top: 10px;
  padding: 15px;
  left: -5px;
  top: max(10vh, 6vw);
  display: none;
  height: 100vh;
  position: absolute;
  line-height: 60px;
  font-size: min(3vh, 5vw);
  z-index: 9999;
  font-family: "Oswald", sans-serif;
  background: transparent;
  backdrop-filter: blur(1px);
}

a {
  text-decoration: none;
  color: white;
  width: 100%;
}

li {
  width: 100%;
  cursor: pointer;
  padding: 0.5%;
  max-height: 7vh;
}
.navbar a {
  text-decoration: none;
  color: white;
  width: 100%;
}
a {
  color: #00e6b8;
}

a:hover {
  color: #00b38f;
}

div {
  box-sizing: content-box;
}

label {
  box-sizing: content-box;
  display: block;
}

img {
  max-width: 100%;
}

h1 {
  line-height: 1em;
  margin: 10px;
  color: white;
}

h1 small {
  display: block;
  font-size: 0.5em;
}

h2 {
  font-weight: lighter;
  line-height: 30px;
}

.container {
  margin: 80px 40px;
  width: calc(100% - 80px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.card {
  height: 250px;
  margin: 30px 0 30px;
  position: relative;
}

.card .card-image {
  background: #666;
  display: inline-flex;
  overflow: hidden;
  height: 250px;
  width: auto;
  transition: all 0.66s cubic-bezier(1, -0.28, 0.66, 0.48);
  position: relative;
  z-index: 1;
}

.card .card-image img {
  height: 250px;
  object-fit: cover;
  width: 100%;
  transition: all 0.66s cubic-bezier(1, -0.28, 0.66, 0.48);
}

.card .card-title {
  background: #0fc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  transition: all 0.66s cubic-bezier(1, -0.28, 0.66, 0.48);
  margin: -5px 0 0 -20px;
  padding: 10px 20px 10px 20px;
  position: relative;
  color: white;

  background: rgb(32, 24, 123);
  background: linear-gradient(
    200deg,
    rgba(32, 24, 123, 1) 0%,
    rgba(12, 6, 84, 1) 100%
  );
}

.card .card-title::before {
  position: absolute;
  top: -20px;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent rgb(32, 24, 123) transparent;
  transition: all 0.66s cubic-bezier(1, -0.28, 0.66, 0.48);
  z-index: -1;
}

.card .card-title::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: rgb(32, 24, 123) transparent transparent transparent;
  transition: all 0.66s cubic-bezier(1, -0.28, 0.66, 0.48);
  z-index: -1;
}

.card .card-detail {
  background: #00e6b8;
  background: #eee;
  height: auto;
  margin: 0;
  transition: all 0.66s cubic-bezier(1, -0.28, 0.66, 0.48);
}

.card .tgl-btn {
  background: rgb(32, 24, 123);
  position: absolute;
  cursor: pointer;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  z-index: 99;
  top: 10px;
  right: 10px;
  transition: all 0.66s cubic-bezier(1, -0.28, 0.66, 0.48);
}

.card .tgl-btn span {
  background: white;
  display: block;
  height: 2px;
  width: 50px;
  margin: 20px;
  position: relative;
  transition: all 0.66s cubic-bezier(1, -0.28, 0.66, 0.48);
}

.card .tgl-btn span::before,
.card .tgl-btn span::after {
  content: "";
  background: white;
  display: block;
  height: 2px;
  width: 50px;
  position: absolute;
  transition: all 0.66s cubic-bezier(1, -0.28, 0.66, 0.48);
}

.card .tgl-btn span::before {
  bottom: -10px;
}

.card .tgl-btn span::after {
  bottom: -5px;
}

.card [type="checkbox"] {
  display: none;
}

.card [type="checkbox"]:checked + .tgl-btn {
  background: transparent;
}

.card [type="checkbox"]:checked + .tgl-btn span {
  background: rgb(32, 24, 123);
  width: 0;
}

.card [type="checkbox"]:checked + .tgl-btn span::before {
  bottom: -5px;
  width: 25px;
  transform: rotate(45deg);
}

.card [type="checkbox"]:checked + .tgl-btn span::after {
  bottom: -5px;
  width: 25px;
  transform: rotate(-45deg);
}

.card [type="checkbox"]:not(:checked) ~ .tgl-view .card-image {
  height: 100%;
  width: 100%;
  margin: 0;
}

.card [type="checkbox"]:not(:checked) ~ .tgl-view .card-detail {
  opacity: 0;
  overflow: hidden;
  padding: 0;
  min-height: 0;
  max-height: 0;
}

.card [type="checkbox"]:not(:checked) ~ .tgl-view .but {
  opacity: 0;
  overflow: hidden;
  padding: 0;
  min-height: 0;
  max-height: 0;
}

.but {
  background: #eee;
  height: auto;
  margin: 0;
  justify-content: center;
  transition: all 0.66s cubic-bezier(1, -0.28, 0.66, 0.48);
}

.card [type="checkbox"]:checked ~ .tgl-view .card-image {
  border-radius: 30px;
  height: 60px;
  width: 60px;
  margin: 10px 0;
}

.card [type="checkbox"]:checked ~ .tgl-view .card-image img {
  height: 60px;
}

.card [type="checkbox"]:checked ~ .tgl-view .card-title {
  font-size: 18px;
  line-height: 60px;
  margin-top: -80px;
  margin-left: -10px;
  padding: 10px 10px 10px 80px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.card [type="checkbox"]:checked ~ .tgl-view .card-title::before {
  top: 0px;
}

.card [type="checkbox"]:checked ~ .tgl-view .card-title::after {
  bottom: -40px;
}

.card [type="checkbox"]:checked ~ .tgl-view .card-detail {
  opacity: 1;
  padding: 40px 20px 10px;
  /* min-height: 290px; */
  max-height: 400px;
}

.button--line:nth-child(2) .morph-shape svg {
  fill: rgb(32, 24, 123);
}

.button {
  width: 30%;
  height: 50px;
}

.button--effect-1 {
  margin-left: 8%;
  width: 40%;
}

.button--effect-2 {
  margin-right: 10%;
}

.button--effect-1 .button__text {
  color: black;
}

.button--line .morph-shape svg {
  stroke: black;
}

@media only screen and (min-width: 500px) {
  .grid {
    margin-left: -20px;
    margin-right: -20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    margin: 30px;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    margin: 80px auto;
    max-width: 1200px;
    width: calc(100% - 160px);
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .button--effect-1 {
    margin-left: 10%;
  }

  .button__text {
    font-size: 1.5em;
  }
}
.glass-morph {
  backdrop-filter: blur(5px);

  background-color: rgb(0, 0, 0, 0.5) !important;
  /* position: absolute !important; */
  max-height: 10vh;
  top: 0;
  z-index: 100;
  width: 100vw;
}

@font-face {
  font-family: "Wargate";
  src: url(../../css/Wargate-Normal.otf);
}
button#home {
  border: none;
  outline: none;
  width: 120px;
  min-width: 7vw;
  background-color: #33333377;
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  font-size: max(2.5vw, 2vh);
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  font-family: "Wargate";
}

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;900&display=swap");

nav * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center; 
}

nav a {
  text-decoration: none;
}

nav ul {
  list-style: none;
}

.navbutton {
  border: none;
  outline: none;
  height: 30px;
  width: 30px;
}

nav {
  height: 100vh;
  background-color: #130c61;
  width: 200px;
  padding: 10px;
  position: fixed;
  top: 0px;
  right: 0px;

  transform: translateX(1800px);
  transition: transform 0.5s ease-in-out;
  z-index: 1000;
}

nav.active {
  transform: translateX(0);
}

nav .logo {
  margin: 25px 0 20px;
}

nav .logo a {
  font-size: 22px;
  color: white;
  padding: 10px;

  font-weight: 700;

  display: flex;
  align-items: center;
  transition: 0.3s ease;
}

nav .logo a:hover {
  padding-right: 20px;
}

nav .logo a i {
  font-size: 27px;
  margin-right: 10px;
  transition: 0.5s ease-in-out;
}

nav .logo a:hover i {
  transform: rotate(180deg);
}

nav ul li {
  padding: 10px;
  font-weight: 500;
}

nav ul li a {
  color: #fff;
  transition: all .5s ease;
  font-size: 16px;
}
nav ul li a:hover {
  background-color: #fff;
  color: #130c61;
  display: block;
  padding-right: 10px;
}

.navbutton{
  cursor: pointer;
border: 1px solid rgba(0, 0, 0, 0);
color: #fff;
background-color: rgb(0 0 0 / 0%);
padding: 3px 5px;
border-radius: 3px;
position: fixed;
top: 40px;
right: 40px;
transform: translateX(0);
transition: background-color .5s ease, transform .47s ease-in-out;
}

.navbutton:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.navbutton.active{
    transform: translateX(-180px);
    position: fixed;
    right: 55px;
}

.lapnav{/* From https://css.glass */
background: rgba(0, 0, 0, 0.56);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.3px);
-webkit-backdrop-filter: blur(9.3px);
}

nav .logo span{
  margin: auto;
}

.fa-solid{
  font-size: xx-large;
}
